{% extends "base.html" %}

{% block title %}
ログイン
{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-5">

        <div class="card">

            <div class="card-body">

                <h2 class="mb-4 text-center">
                    ログイン
                </h2>

                <form method="post">

                    {% csrf_token %}

                    {{ form.as_p }}

                    <button
                        type="submit"
                        class="btn btn-primary w-100 mb-3">
                        ログイン
                    </button>
                    <a
                        href="{% url 'signup' %}"
                        class="btn btn-success w-100">
                        新規登録
                    </a>
                    

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}