{% extends "base.html" %}

{% block title %}
Study Tracker
{% endblock %}

{% block content %}

<h1 class="mb-4">📚 Study Tracker</h1>

<div class="row">

    <div class="col-md-3">

        <div class="card text-center mb-3">

            <div class="card-body">

                <h5>🎯 保有資格</h5>

                <h2>{{ qualification_count }}</h2>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card text-center mb-3">

            <div class="card-body">

                <h5>📝 学習記録</h5>

                <h2>{{ study_record_count }}</h2>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card text-center mb-3">

            <div class="card-body">

                <h5>⏰ 今日</h5>

                <h2>{{ today_total }}分</h2>

            </div>

        </div>

    </div>

    <div class="col-md-3">
        <div class="card text-center mb-3">
            <div class="card-body">
                <h5>📅 今週</h5>
                <h2>{{ week_total }}分</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3">
    <div class="card text-center mb-3">
        <div class="card-body">
            <h5>🔥 連続学習</h5>
            <h2>{{ streak }}日</h2>
            {% if not today_studied %}
            <p class="text-danger">
            今日学習すると継続できます！
            </p>
            {% endif %}
        </div>
    </div>
</div>




</div>
<hr>

<h3>📊 直近7日間の学習時間</h3>

<canvas id="studyChart"></canvas>

<hr>

<hr>

<h3>直近の学習記録</h3>

{% for record in recent_records %}

<div class="card mb-2">

    <div class="card-body">

        <strong>{{ record.qualification.name }}</strong><br>

        {{ record.study_date|date:"Y年m月d日" }}

        ・

        {{ record.study_time }}分

    </div>

</div>

{% empty %}

<p>まだ学習記録はありません。</p>

{% endfor %}

<hr>

<a href="{% url 'qualification_list' %}"
    class="btn btn-primary">
    資格一覧
</a>



{% endblock %}

{% block extra_js %}

<script>

const labels = JSON.parse('{{ chart_labels|escapejs }}');
const data = JSON.parse('{{ chart_data|escapejs }}');

const ctx = document.getElementById('studyChart');

new Chart(ctx, {

    type: 'bar',

    data: {
        labels: labels,
        datasets: [{
            label: '学習時間（分）',
            data: data,
            borderWidth: 1
        }]
    },

    options: {
        responsive: true,
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});

</script>

{% endblock %}